<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- icon link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- favicon -->
    <link rel="icon" href="/images/transparent.png" type="image/x-icon" />
    <!-- link admin.css -->
    <link rel="stylesheet" href="./styles/admin.css" />
    <link rel="stylesheet" href="./styles/addstudent.css">
    <link rel="stylesheet" href="./styles/messagesend.css">

    <title>All Care Academy Admin</title>
    <style>
      .adminactive {
        width: 0%;
        transition: 0.3s;
      }
      .adminacright {
        width: 100%;
        transition: 0.3s;
      }
    </style>
  </head>
  <body>
    <div class="admin">
     <!-- admin sidebar -->
     <%-include("../partials/adminsidebar.ejs")%>
     <!-- admin sidebar -->
      <div class="admin-right">
        <!-- top header -->
        <div class="top-header">
            <div class="side-icon">
              <i class="bx bx-menu"></i>
            </div>
            <div class="side-icon2">
              <i class="bx bx-menu"></i>
            </div>
            <div class="admin-pic">
              <button>Download Free</button>
              <a href="#">
                <img src="../images/man.png" alt="">
              </a>
            </div>
          </div>
         <!-- message sent form -->
                  <div class="message-form">
                      <div class="message-main">
                        <form action="/student-message"method="post">
                           <div class="message-img">
                            <div class="message-icon">
                              <img src="../images/voice-mail.png" alt="voice">
                            </div>
                            <h2>Send Message To All Students </h2>
                           </div>
                            <input type="text"placeholder="Subject Name"name="subject_name"><br>
                            <textarea name="message" id="" cols="30" rows="10"placeholder="Message"></textarea><br>
                            <button>Send Message</button>
                          </form>
                      </div>
                  </div>
         <!-- message sent form -->
      </div>
    </div>
    <!-- chart.js link -->
    <script>
      let adminleft = document.querySelector(".admin-left");
      let adminright = document.querySelector(".admin-right");
      let sideicon = document.querySelector(".side-icon");
      sideicon.addEventListener("click", function () {
        adminleft.classList.toggle("adminactive");
        adminright.classList.toggle("adminacright");
      });
      let sideicon2 = document.querySelector(".side-icon2");
      sideicon2.addEventListener("click", function () {
        adminleft.style.left = "0";
      });
      let removebox = document.querySelector(".removebox");
      removebox.addEventListener("click", () => {
        adminleft.style.left = "-400px";
      });
      var oriloaction = window.location.pathname;
      var linka = document.querySelectorAll("ul li a").forEach((e) => {
        if (e.href.includes(oriloaction)) {
          let icons=e.querySelector("i");
          e.classList.add("activelink");
          e.style.color="white";
          icons.style.color="white"
        }
      });
    </script>
  </body>
</html>
