<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fav cion -->
    <link
      rel="shortcut icon"
      href="/images/transparent.png"
      type="image/x-icon"
    />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- ----------------css link---------------- -->
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/notice.css" />

    <title>All Care Academy-Notice</title>
  </head>
  <body>
    <div class="notice-container">
      <div class="notice-main">
        <!-- header -->
        <%-include("./partials/header.ejs")%>
        <!-- header -->
        <div class="notice-slider">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="https://udvash.com/media/Images/UDVASH/sliderimage/1.png"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="https://udvash.com/media/Images/UDVASH/sliderimage/1.png"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="https://udvash.com/media/Images/UDVASH/sliderimage/1.png"
                  alt=""
                />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
      <!-- -----------------class notice---------------- -->
      <div class="class-notice">
        <div class="about-text">
          <div></div>
          <h1>Class Notice</h1>
        </div>
        <div class="class-noticeboxes">
          <div class="classnot-box">
            <div class="notice-icon">
              <img src="/images/warning.png" alt="notice" />
            </div>
            <div class="notice-for">
              <h3>Class-7</h3>
              <p>23 Sep 2023</p>
            </div>
            <h2>
              আলহামদুলিল্লাহ দু বছর বিরতি থাকার পরে এই বছর আবার চতুর্থ ও পঞ্চম
              শ্রেণীর ক্লাস গুলো শুরু করতে যাচ্ছি। এতটা রেসপন্স পাবো যা ভাবিনাই।
              সকলের কাছে দোয়া প্রার্থী
            </h2>
          </div>
          <div class="classnot-box">
            <div class="notice-icon">
              <img src="/images/warning.png" alt="notice" />
            </div>
            <div class="notice-for">
              <h3>Class-7</h3>
              <p>23 Sep 2023</p>
            </div>
            <h2>
              আলহামদুলিল্লাহ দু বছর বিরতি থাকার পরে এই বছর আবার চতুর্থ ও পঞ্চম
              শ্রেণীর ক্লাস গুলো শুরু করতে যাচ্ছি। এতটা রেসপন্স পাবো যা ভাবিনাই।
              সকলের কাছে দোয়া প্রার্থী
            </h2>
          </div>
          <div class="classnot-box">
            <div class="notice-icon">
              <img src="/images/warning.png" alt="notice" />
            </div>
            <div class="notice-for">
              <h3>Class-7</h3>
              <p>23 Sep 2023</p>
            </div>
            <h2>
              আলহামদুলিল্লাহ দু বছর বিরতি থাকার পরে এই বছর আবার চতুর্থ ও পঞ্চম
              শ্রেণীর ক্লাস গুলো শুরু করতে যাচ্ছি। এতটা রেসপন্স পাবো যা ভাবিনাই।
              সকলের কাছে দোয়া প্রার্থী
            </h2>
          </div>
          <div class="classnot-box">
            <div class="notice-icon">
              <img src="/images/warning.png" alt="notice" />
            </div>
            <div class="notice-for">
              <h3>Class-7</h3>
              <p>23 Sep 2023</p>
            </div>
            <h2>
              আলহামদুলিল্লাহ দু বছর বিরতি থাকার পরে এই বছর আবার চতুর্থ ও পঞ্চম
              শ্রেণীর ক্লাস গুলো শুরু করতে যাচ্ছি। এতটা রেসপন্স পাবো যা ভাবিনাই।
              সকলের কাছে দোয়া প্রার্থী
            </h2>
          </div>
          <div class="classnot-box">
            <div class="notice-icon">
              <img src="/images/warning.png" alt="notice" />
            </div>
            <div class="notice-for">
              <h3>Class-7</h3>
              <p>23 Sep 2023</p>
            </div>
            <h2>
              আলহামদুলিল্লাহ দু বছর বিরতি থাকার পরে এই বছর আবার চতুর্থ ও পঞ্চম
              শ্রেণীর ক্লাস গুলো শুরু করতে যাচ্ছি। এতটা রেসপন্স পাবো যা ভাবিনাই।
              সকলের কাছে দোয়া প্রার্থী
            </h2>
          </div>
          <div class="classnot-box">
            <div class="notice-icon">
              <img src="/images/warning.png" alt="notice" />
            </div>
            <div class="notice-for">
              <h3>Class-7</h3>
              <p>23 Sep 2023</p>
            </div>
            <h2>
              আলহামদুলিল্লাহ দু বছর বিরতি থাকার পরে এই বছর আবার চতুর্থ ও পঞ্চম
              শ্রেণীর ক্লাস গুলো শুরু করতে যাচ্ছি। এতটা রেসপন্স পাবো যা ভাবিনাই।
              সকলের কাছে দোয়া প্রার্থী
            </h2>
          </div>
        </div>
      </div>
      <!-- --------------------class notice---------------- -->
      <!-- --------------------------footer-------------------- -->
      <%-include("./partials/footer.ejs")%>
      <!-- ----------------------footer------------------- -->
    </div>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        let closeicon=document.getElementById("closeicon");
      let header=document.querySelector("header");
      let nav=document.querySelector("nav");
      let menubar=document.getElementById("menubar");
      menubar.addEventListener("click",()=>{
            nav.style.left="0";
      });
      closeicon.addEventListener("click",()=>{
        nav.style.left="-60%"
      })
      var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
        },
      });
    </script>
  </body>
</html>
