<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="/styles/searchpage.css">
    <title>Search Your Result-All Care Academy</title>
</head>
<body>
    <div class="search-container">
        <div class="search-main">
                <!-- box top part -->
                <div class="searchbox-top">
                      <div class="logo-box">
                        <img src="/images/transparentlogo.png" alt="logo">
                      </div>
                      <div class="search-title">
                          <h1>অল কেয়ার একাডেমী</h1>
                          <h3>আপনার সন্তানদের ফলাফল খুঁজুন <span>(সাপ্তাহিক এবং মাসিক ফলাফল দেখুন)</span></h3>
                      </div>
                </div>
                <!-- box top part -->
                <!-- search box bottom -->
                <div class="searchbox-bottom">
                    <h1></h1>
                    <form action="/"method="POST">
                        <div class="input-box">
                            <div class="input-text">
                                <h3>নাম <span>:</span></h3>
                            </div>
                            <div class="input-field">
                                <input type="text"placeholder="নাম"name="name"required>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="input-text">
                                <h3>রেজিস্ট্রেশন <span>:</span></h3>
                            </div>
                            <div class="input-field">
                                <input type="number"placeholder="রেজিস্ট্রেশন (ইংরেজিতে)"required>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="input-text">
                                <h3>শ্রেণী <span>:</span></h3>
                            </div>
                            <div class="input-field">
                                <input type="text"placeholder="শ্রেণী"required>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="input-text">
                                <h3>বছর <span>:</span></h3>
                            </div>
                            <div class="input-field">
                                <input type="text"placeholder="বছর"required>
                            </div>
                        </div>
                        <!-- 2 button -->
                              <div class="submit-group">
                                 <button>খুঁজুন</button>
                                 <button><a href="/login">যোগ করুন
                                </a></button>
                              </div>
                        <!-- 2 button -->
                    </form>
                </div>
                <!-- search box bottom -->
        </div>
    </div>
</body>
</html>