<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fav cion -->
    <link
      rel="shortcut icon"
      href="/images/transparent.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- ----------------css link---------------- -->
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/teacher.css" />

    <title>All Care Academy-Teachers</title>
  </head>
  <body>
    <div class="teacher-container">
      <!-- -------header--------------- -->
      <div class="teacher-home">
        <%-include("./partials/header.ejs")%>
        <div class="teacher-hero">
          <h1>Our Teacher</h1>
        </div>
      </div>
      <!-- all teachers info -->
      <div class="all-teachermain">
        <div class="teacher-title">
          <h3>Our Professionals</h3>
          <h1>Meet Our Teachers</h1>
        </div>
        <div class="totalof-teacher">
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/5.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/3.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/4.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/1.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/5.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/3.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/4.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="teacherbox">
            <div class="teacher-pic">
              <img
                src="https://themephi.net/template/eduan/eduan/assets/img/teacher/2/1.jpg"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="teacher-maininfo">
                <h2>Ali Polash</h2>
                <h4>Math Teacher</h4>
              </div>
              <div class="teacher-social">
                <div class="social-box">
                  <a href="#"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
                <div class="social-box">
                  <a href="#"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- all teachers info -->
      <!-- --------------------------footer-------------------- -->
      <%-include("./partials/footer.ejs")%>
      <!-- ----------------------footer------------------- -->
    </div>
  </body>
</html>
